// Variables
$opaque-white: #ffffffa4;

$background-white: #f5f8f8;
$background-gray: #60626c;
$button-text-white: #f0f1f1;
$text-dark: #2f3638;

/* base reset so that I can set the padding and margins*/
/* Generally, I'll make padding- 10px 15px and margin - 20px */
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Setting the base properties for the entire page */
/* box-sizing so that everything will contain its internal elements*/
html,
body {
  color: $text-dark;
  font-family: "Source Sans Pro", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth; /*This will make it so when you click on a link, 
        it will scroll to that spot rather than jump*/
  margin-left: auto;
  margin-right: auto;
  font-size: 1.1rem;
  color: $text-dark;
  background-color: #b4bfc5;
}

#message-decoder-section {
  background-color: #b4bfc5;
  min-height: 40rem;
}

#foxforest {
  min-height: 80rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url("../images/forestshort.png");
  background-size: 85vw;

  background-repeat: no-repeat;
  background-position: left top;
}

@media (min-width: 500px) {
  #foxforest {
    background-size: 85vw;
  }
}

@media (min-width: 700px) {
  #foxforest {
    background-size: 500px;
  }
}

#right-cloud {
  width: 180px;
  height: auto;
  position: absolute;
  right: 4rem;
  top: 10rem;
  display: none;
}

#left-cloud {
  width: 220px;
  position: absolute;
  height: auto;
  right: 14rem;
  top: 2rem;
  display: none;
}

@media (min-width: 1000px) {
  #left-cloud,
  #right-cloud {
    display: block;
  }
}

#message-container {
  position: absolute;
  top: 4rem;
  left: 1.5rem;
  right: 1.5rem;
  background-color: $opaque-white;
  background-color: #f3f7f6cc;
  border-radius: 4px;
  h2 {
    padding: 1rem;
    padding-top: 1.3rem;
    line-height: 1.3rem;
  }
  p {
    font-size: 1rem;
    padding: 1rem;
    padding-top: 0;
  }
}

@media (min-width: 380px) {
  #message-container {
    margin-left: 1.5rem;
    padding: 1rem;
    h2 {
      font-size: 2rem;
    }
  }
}
@media (min-width: 500px) {
  #message-container {
    margin-right: 2rem;
    h2 {
      padding: 2rem 1rem;
    }
  }
}
@media (min-width: 700px) {
  #message-container {
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: 2rem;
    margin-top: 6rem;
    p {
      font-size: 1.2rem;
    }
  }
}
@media (min-width: 1000px) {
  #message-container {
    padding: 2rem;
    margin-left: auto;
    margin-right: 10rem;
    margin-top: 9rem;
  }
}

#deer-button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}

@media (min-width: 700px) {
  #deer-button-container {
    width: 300px;
    margin-right: 0;
    margin-left: auto;
  }
}
#return-link {
  // #return-button {
  text-decoration: none;
  cursor: pointer;
  height: 2rem;
  width: 8rem;
  font-size: 0.8rem;
  background-color: $background-gray;
  color: $button-text-white;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  border: none;
  text-align: center;
  border-radius: 5px;
  padding-top: 0.45rem;
  padding-bottom: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

@media (min-width: 700px) {
  #return-link {
    width: 10rem;
    height: 2.2rem;
    font-size: 1rem;
  }
}

#deer {
  display: block;
  width: 50%;
  max-width: 230px;
  margin-bottom: 1rem;
}
